
<div class="ui-g ui-g-12 ui-fluid">
  
  <div class="ui-g-3 ui-inputgroup ui-fluid">
      <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
      <input type="text" pInputText placeholder="Artista">         
  </div>
  <div class="ui-g-3 ui-inputgroup ui-fluid">
      <span class="ui-inputgroup-addon"><i class="fa fa fa-dot-circle-o"></i></span>
      <input type="text" pInputText placeholder="Album">      
  </div>
  <div class="ui-g-3 ui-inputgroup ui-fluid">
        <span class="ui-inputgroup-addon"><i class="fa fa-calendar"></i></span>
        <input type="text" pInputText placeholder="Ano">   
    </div>
  <div class="ui-g-3 ui-inputgroup ui-fluid">
    <p-button icon="pi pi-check" label="Cadastrar"></p-button>
</div>
</div>
